#GameBoard {
  position: relative;
  margin: auto;
  border-style: solid;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.game {
  display: flex;
  justify-content: center;
  background-color: rgba(57, 56, 56, 0.278);
  width: 100vh;
  height: 70vh;
}

.bcg {
  background-color: rgb(3, 3, 3);
  height: 70vh;
}

#GameBoard .Block {
  position: absolute;
}

#GameBoard #GameOver {
  text-align: center;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
}

#GameBoard #Score {
  position: relative;
  top: 105%;
  text-align: center;
  font-weight: bold;
}

#GameBoard #GameOverText {
  color: #ca0000;
  font-weight: bold;
  text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
  color: #2e7ecb;
  font-weight: bold;
}
/* ------ */
/* #GameBoard {
  position: relative;
  margin: auto;
  border-style: solid;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.game {

  display: flex;
  justify-content: center;
  background-color: rgba(120, 112, 112, 0.278);
}
.bcg {
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#GameBoard .Block {
  position: absolute;
}

#GameBoard #GameOver {
  text-align: center;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(43, 0, 255);
}

#GameBoard #Score {
  position: relative;
  top: 105%;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(43, 0, 255);
}
#GameBoard.snake {
  height: 100vh;
}

#GameBoard #GameOverText {
  color: #ca0000;
  font-weight: bold;
  text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
  color: #2e7ecb;
  font-weight: bold;
} */
/* ////////////////////// */
/* ////////////////////// */
/* ////////////////////// */
/* ////////////////////// */
/* ////////////////////// */
/* ////////////////////// */
/* Ajouter des styles pour le conteneur principal */
/* .bcg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* Styles pour le conteneur du jeu */
/* .game {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Styles pour le tableau de jeu */
/* #GameBoard {
  position: relative;
} */

/* Styles pour le score */
/* #Score {
  margin-top: 20px;
  font-size: 1.5rem;
} */
