@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import "./animation.css";
@import "./responsive.css";
@import "./Header.css";

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}
.mode-switch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
h3 {
  font-size: 25px;
  text-align: center;
}

.about-rawg h1 {
  font-size: 30px;
  text-align: center;
  margin: 50px 0;
  border: 1px solid yellow;
}

h5 {
  font-size: 20px;
  margin: 15px 0;
  position: relative;
  z-index: 3;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  font-size: 18px;
}
.border {
  border-bottom: 30px solid rgb(102, 222, 240);
  padding: 10px 0;
  background-color: rgb(79, 78, 78);
}
.container {
  width: auto;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  align-items: center;
  border-bottom: 1px solid rgb(182, 180, 180);
}
.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

section .myname {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 10px;
  margin: 2rem;
}

section {
  display: flex;
  justify-content: space-around;
}

.myname {
  font-size: 40px;
}
/* ------------------------ */
/* ------------------------ */
/* ----------ABOUT--------- */
/* ------------------------ */
/* ------------------------ */

/* -------- */
.aboutme {
  padding-top: 150px;
  width: 90%;
}
.title-about {
  text-align: center;
  margin-bottom: 20px;
}
.aboutme h1 {
  font-size: 40px;
}
.me img {
  height: 300px;
  width: 250px;
  border-radius: 30% 10%;
  object-fit: cover;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  width: 60%;
}
.text-about p {
  font-size: 20px;
}
.card-me {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(143, 123, 143); */
}
/* ------------------------ */
/* ------------------------ */
/* ----------SKILLS-------- */
/* ------------------------ */
/* ------------------------ */

.skills {
  padding: 2rem;
  border-top: 1px solid rgb(113, 113, 112);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
}
.skills-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.skills-logo {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  align-items: center;
  width: auto;
}

/* ------------------------ */
/* ------------------------ */
/* ---------PROJECT-------- */
/* ------------------------ */
/* ------------------------ */

.project h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 50px;
}
.projects p {
  margin-bottom: 40px;
}
.cards {
  text-align: center;
}

.titleProject {
  margin-top: 1.5rem;
  font-size: 20px;
}
/* .translateline {
  height: 6px;
  width: 400px;
  background-color: rgba(84, 152, 163, 0.708);
  position: absolute;
  top: 80px;
  left: 150px;
  z-index: 1;
} */

.rawg h1 {
  z-index: 2;
  position: relative;
}

.rawg {
  position: relative;
  padding-bottom: 2rem;
}
.underline {
  height: 6px;
  width: 400px;
  background-color: rgba(84, 152, 163, 0.708);
  position: absolute;
  top: 30px;
  left: 150px;
  z-index: 1;
}

.card-project {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 49px;
  border-top: 1px solid rgb(113, 113, 112);
}

.projects {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects img {
  height: 200px;
  border-radius: 10px;
}

.image {
  opacity: 1;
  object-fit: cover;
  margin: 20px 0;
  border: 1px solid rgb(115, 114, 114);
}

.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* margin-bottom: 40px; */
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  height: 200px;
  width: 390px;
}

.projects:hover .image {
  opacity: 1;
}

.projects:hover .middle {
  opacity: 0.8;
}

.infos {
  font-size: 20px;
  font-weight: bold;
  height: 250px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.infos a {
  color: black;
}

.tech {
  display: flex;
  justify-content: space-around;
}
.tech span {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
}
/* ------------------------ */
/* ------------------------ */
/* ----------RAWG---------- */
/* ------------------------ */
/* ------------------------ */

.container-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 1rem;
}

/* .translate {
  width: 100px;
  background-color: rgb(129, 127, 127);
  display: flex;
  justify-content: left;
  cursor: pointer;
  margin: 2rem;
} */

.translate {
  display: flex;
  /* justify-content: center; */
  border: none;
  outline: none;
  background-color: rgb(79, 137, 144);
  padding: 10px 10px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px rgb(34, 60, 62);
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.translate:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px rgb(34, 60, 62);
}

.img-rawg img {
  height: 350px;
}
/* --------- */
/* --MODAL-- */
/* --------- */

.modal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.934);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(30, 30, 30);
  border: 1px solid white;
  padding: 20px;
  border-radius: 8px;
  width: 50vw;
  box-shadow: 0 0 10px white;
}
.contact {
  background-color: rgb(30, 30, 30);
}
/* --------- */
/* --------- */
/* --------- */

.contact-form {
  height: calc(100vh - 10vh);
}

.title {
  margin-top: 1rem;
  text-align: center;
  line-height: 45px;
}

.car-rawg {
  display: flex;
  width: 600px;
}
.about-rawg {
  height: auto;
  width: 700px;
}
.about-rigth {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.col-left {
  width: 50%;
  text-align: left;
}

.col-rigth {
  width: 50%;
  text-align: left;
}

.link {
  margin-top: 3rem;
  font-size: 25px;
  text-align: center;
}

/* ------------------------ */
/* ------------------------ */
/* ---------FOOTER--------- */
/* ------------------------ */
/* ------------------------ */

footer {
  height: auto;
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  border-top: 1px solid rgb(182, 180, 180);
}

.foot {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* ------------------------ */
/* ------------------------ */
/* ---------CONTACT-------- */
/* ------------------------ */
/* ------------------------ */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.logo-contact img {
  height: 40px;
  border-radius: 10px;
  margin-top: 1rem;
}
.logo-contact {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.coord {
  padding: 30px 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  border: 1px solid rgba(169, 169, 169, 0.486);
  border-radius: 10px;
  line-height: 30px;
  margin-top: 4rem;
}
