@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Public+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
/* @import "./Header.css"; */
@import "./animation.css";

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  /* text-decoration: underline; */
  text-align: center;
}

.about-rawg h1 {
  font-size: 30px;
  text-align: center;
  margin: 50px 0;
}

h5 {
  font-size: 20px;
  margin: 15px 0;
  position: relative;
  z-index: 3;
}

a {
  text-decoration: none;
}

a:hover {
  /* color: darkblue; */
  font-weight: bold;
  font-size: 18px;
  /* transition: 0.3s; */
}
.border {
  border-bottom: 3px solid rgb(102, 222, 240);
  padding: 10px 0;
  background-color: rgb(79, 78, 78);
}
.container {
  width: 1320px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 500px;
}
section .myname {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 1°0px;
  margin: 2rem;
}
section {
  display: flex;
  justify-content: space-around;
}

.myname {
  font-size: 40px;
}
/* ------------------------ */
/* ------------------------ */
/* ----------ABOUT--------- */
/* ------------------------ */
/* ------------------------ */

/* -------- */
.aboutme {
  padding-top: 150px;
}
.title-about {
  text-align: center;
  margin-bottom: 20px;
}
.aboutme h1 {
  font-size: 40px;
}
.me img {
  height: 300px;
  border-radius: 50px;
}
.me {
  /* background-color: #fff; */
  display: flex;
  flex: 1;
}
.text-about {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  line-height: 25px;
  flex: 2;
}
.text-about p {
  font-size: 20px;
}
.card-me {
  display: flex;
  /* background-color: rgb(143, 123, 143); */
}
/* ------------------------ */
/* ------------------------ */
/* ----------SKILLS-------- */
/* ------------------------ */
/* ------------------------ */

.skills {
  padding-top: 100px;
}
.skills h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
}
.skills-logo img {
  height: 50px;
}
.skills-logo {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

/* ------------------------ */
/* ------------------------ */
/* ---------PROJECT-------- */
/* ------------------------ */
/* ------------------------ */

.project h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 50px;
}
.projects p {
  margin-bottom: 40px;
}
.cards {
  text-align: center;
}

.title {
  position: relative;
  z-index: 2;
}
.underline {
  height: 6px;
  width: 500px;
  background-color: rgba(84, 152, 163, 0.708);
  position: absolute;
  top: 193px;
  left: 580px;
  z-index: 1;
}

.card-project {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 49px;
}

.projects {
  position: relative;
}
.projects img {
  height: 200px;
  border-radius: 10px;
}

.image {
  opacity: 1;
  object-fit: cover;
  margin: 20px 0;
  border: 1px solid rgb(115, 114, 114);
}

.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* margin-bottom: 40px; */
  background-color: rgb(233, 231, 231);
  border-radius: 10px;
  height: 200px;
  width: 390px;
}

.projects:hover .image {
  opacity: 1;
}

.projects:hover .middle {
  opacity: 0.8;
}

.infos {
  font-size: 20px;
  font-weight: bold;
  height: 250px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.infos a {
  color: black;
}

.tech {
  display: flex;
  justify-content: space-around;
}
.tech span {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
}
/* ------------------------ */
/* ------------------------ */
/* ----------RAWG---------- */
/* ------------------------ */
/* ------------------------ */

.rawg {
  display: flex;
  align-items: center;
  gap: 100px;
  height: calc(100vh - 10vh);
  /* padding-bottom: 10px; */
  line-height: 20px;
  /* border: 1px solid rgb(255, 0, 225); */
  margin-top: -50px;
}
.translate {
  width: 100px;
  background-color: rgb(129, 127, 127);
  display: flex;
  justify-content: left;
  cursor: pointer;
}

.img-rawg img {
  height: 350px;
}

.contact-form {
  height: calc(100vh - 10vh);
}

.title {
  margin-top: 1rem;
  text-align: center;
  /* border: 1px solid rgb(0, 255, 153); */
  line-height: 45px;
}

.car-rawg {
  display: flex;
  width: 600px;
  /* border: 1px solid rgb(0, 255, 153); */
}
.about-rawg {
  height: auto;
  width: 700px;
  /* border: 1px solid yellow; */
}
.about-rigth {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.col-left {
  /* border: 1px solid rebeccapurple; */
  width: 50%;
  text-align: left;
}

.col-rigth {
  /* border: 1px solid rgb(243, 237, 235); */
  width: 50%;
  text-align: left;
}

.link {
  margin-top: 3rem;
  font-size: 25px;
  text-align: center;
}

/* ------------------------ */
/* ------------------------ */
/* ---------FOOTER--------- */
/* ------------------------ */
/* ------------------------ */

footer {
  background-color: rgba(38, 36, 36, 0.306);
  padding-top: 1rem;
}

.foot {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* ------------------------ */
/* ------------------------ */
/* ---------CONTACT-------- */
/* ------------------------ */
/* ------------------------ */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.logo-contact img {
  height: 40px;
  border-radius: 10px;
  margin-top: 1rem;
}
.logo-contact {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}

form {
  /* height: 400px; */
  width: 500px;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.coord {
  padding: 30px 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  border: 1px solid rgba(169, 169, 169, 0.486);
  border-radius: 10px;
  line-height: 30px;
  margin-top: 4rem;
}
