/* --------------------------- */
/* --------------------------- */
/* ------RESPONSIVE HOME------ */
/* --------------------------- */
/* --------------------------- */

/* 1350PX */
/* --------------------------- */

@media screen and (max-width: 1350px) {
  .aboutme {
    padding-top: 150px;
  }
  .aboutme.container {
    width: 1010px;
    margin: 0 auto;
  }

  .skills-logo {
    width: 1000px;
  }
  .header {
    height: auto;
    width: auto;
    display: flex;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(182, 180, 180);
  }

  .header h3 {
    font-size: 25px;
  }
  section .myname {
    width: auto;
    margin-left: 10px;
    margin: 2rem;
    font-size: 30px;
  }
  .scale-in-hor-center {
    width: auto;
    display: flex;
    align-items: center;
  }
}
/* 1050px */
/* --------------------------- */
@media screen and (max-width: 1050px) {
  div .header {
    height: auto;
    width: auto;
    border-bottom: 1px solid rgb(182, 180, 180);
  }

  div .logo {
    height: 100px;
  }
  .header h3 {
    font-size: 20px;
  }

  section .myname {
    width: auto;
    margin-left: 10px;
    margin: 2rem;
    font-size: 30px;
  }
  .scale-in-hor-center {
    width: auto;
    display: flex;
    align-items: center;
  }

  .aboutme {
    padding-top: 150px;
  }
  .aboutme.container {
    width: 900px;
    margin: 0 auto;
  }

  div .foot {
    width: 700px;
  }
}

/* 980PX */
/* --------------------------- */
@media screen and (max-width: 980px) {
  .header {
    height: 100px;
    width: auto;
    display: flex;
    gap: 1rem;
  }
  .header h3 {
    font-size: 18px;
  }

  section .myname {
    width: 700px;
    margin-left: 10px;
    margin: 2rem;
    font-size: 30px;
  }
  .scale-in-hor-center {
    width: auto;
    display: flex;
    align-items: center;
  }

  .aboutme.container {
    width: 700px;
  }
  div .text-about {
    width: 600px;
    text-align: justify;
  }

  .card-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  div .title-about h1 {
    font-size: 30px;
  }
  div .text-about p {
    font-size: 18px;
  }

  div .skills-logo img {
    height: 35px;
  }
  div .skills h1 {
    width: 700px;
    font-size: 30px;
  }
  div .skills-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
  }

  div .project h1 {
    font-size: 30px;
  }
  div .cards h3 {
    font-size: 20px;
  }
  /* modal */

  div .coord {
    width: auto;
  }
}

/* 790px  */
/* --------------------------- */
@media screen and (max-width: 790px) {
  div .modal-content {
    width: auto;
    height: auto;
  }
  div .contact {
    display: flex;
    background-color: rgb(30, 30, 30);
  }
  div .coord {
    height: 100px;
  }
  form {
    height: 300px;
  }
}
/* 730px */
/* --------------------------- */
@media screen and (max-width: 730px) {
  .aboutme.container {
    width: 450px;
    margin: 0 auto;
  }

  div .header {
    display: flex;
    width: auto !important;
  }
  .header h3 {
    font-size: 20px;
  }
  div .logo {
    height: 70px;
    padding: 0;
  }

  div .text {
    width: auto;
  }

  div .card-me {
    width: auto;
  }
  div .text-about {
    width: auto;
  }

  div .aboutme h1 {
    font-size: 20px;
  }
  div .text-about p {
    font-size: 13px;
  }

  div .skills h1 {
    width: 450px;
    font-size: 25px;
  }

  div .skills-logo img {
    height: 25px;
  }
  div .skills-logo {
    width: 450px;
  }
  .project img {
    height: 150px;
  }
  div .project h1 {
    font-size: 25px;
  }
  div .cards h3 {
    font-size: 18px;
  }

  footer {
    width: auto;
  }
  div .foot {
    width: auto;
  }
}
/* 600px */
/* --------------------------- */
@media screen and (max-width: 600px) {
  div .modal-content {
    /* width: auto; */
    width: 400px;
    height: auto;
    font-size: 15px;
  }

  .modal h1 {
    text-align: center;
  }
  div .contact {
    display: flex;
    flex-direction: row;
    background-color: rgb(30, 30, 30);
    gap: 20px;
    width: 410px;
    padding-top: 0;
  }
  div .coord {
    height: auto;
    width: 300px;
    font-size: 15px;
    text-align: center;
  }
  form {
    height: 300px;
    width: 300px !important;
  }
  form input {
    width: 200px;
    height: 10px;
  }
  textarea {
    width: 200px;
  }
}

/* 390px */
/* --------------------------- */
@media screen and (max-width: 390px) {
  div .text {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 5px;
  }
  div .project {
    width: 300px;
  }
  .header h3 {
    font-size: 12px;
  }
  div .project h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  div main .skills h1 {
    width: auto;
  }
  .card-me img {
    height: 200px !important;
  }
  div .aboutme {
    padding-top: 1rem;
  }

  div .skills-logo {
    margin: 2rem;
    width: 350px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  div .skills h1 {
    width: 390px;
  }

  div .project img {
    height: 150px;
  }
  .aboutme.container {
    width: 310px;
    margin: auto;
  }
  div .card-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    text-align: justify;
  }

  .auto-head {
    width: 380px !important;
  }
  .scale-in-hor-center {
    border-bottom: 1px solid rgb(182, 180, 180) !important;
    width: 390px !important;
  }
  section .myname {
    width: auto;
    width: 300px !important;
    font-size: 25px;
  }

  /* FORM CONTACT */
  div .modal-root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  div .modal-content {
    width: 300px;
    height: auto;
    font-size: 15px;
    padding: 10px;
  }

  .modal h1 {
    text-align: center;
    font-size: 25px;
  }
  div .contact {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    width: auto;
    height: auto;
    padding: 0;
  }

  div .coord {
    height: 130px;
    width: 300px;
    font-size: 15px;
    border-radius: 10px;
    line-height: 22px;
    margin-top: 1rem;
  }
  form {
    height: 300px;
    width: 300px !important;
  }
  form input {
    width: 200px;
    height: 10px;
  }
  textarea {
    width: 200px;
  }
}

/* --------------------------- */
/* --------------------------- */
/* ----RESPONSIVE PROJECTS---- */
/* --------------------------- */
/* --------------------------- */

/* 1124px */
/* --------------------------- */
@media screen and (max-width: 1124px) {
  .col-left {
    width: 50%;
    text-align: left;
  }

  .col-rigth {
    width: 50%;
    text-align: left;
  }

  footer {
    height: calc(100vh - 90vh);
  }
}

/* 730px */
/* --------------------------- */
@media screen and (max-width: 730px) {
  div .container-project {
    width: 450px;
  }
  div .underline {
    top: 80px;
    left: 25px;
  }

  div .about-rawg {
    height: auto;
    width: 450px;
  }
  div .car-rawg {
    display: flex;
    width: 400px;
  }
  div .img-rawg img {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }

  footer {
    height: calc(100vh - 90vh);
  }

  .rawg h1 {
    font-size: 25px;
  }

  .rawg h3 {
    font-size: 22px;
  }

  div .header {
    width: 200px;
  }

  .auto-head {
    margin: 0 auto;
    width: 450px;
  }

  .scale-in-hor-center {
    margin: 0 auto;
    width: 450px;
  }

  .about-rigth {
    font-size: 15px;
  }
}

/* 390px */
/* --------------------------- */
@media screen and (max-width: 390px) {
  div .container-project {
    width: 390px;
  }
  div .underline {
    top: 80px;
    left: 60px;
    width: 270px;
  }

  div .about-rawg {
    height: auto;
    width: 390px;
  }
  div .car-rawg {
    display: flex;
    width: 400px;
  }
  div .img-rawg img {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }

  .about-rigth {
    font-size: 13px;
    padding: 2rem;
  }

  .translate {
    margin: 2rem;
  }

  div .rawg h1 {
    z-index: 2;
    position: relative;
  }

  .rawg {
    position: relative;
  }
  div .underline {
    height: 6px;
    width: 200px;
    background-color: rgba(84, 152, 163, 0.708);
    position: absolute;
    top: 26px;
    left: 96px;
    z-index: 1;
  }
}
