/* --------------------------- */
/* --------------------------- */
/* ------RESPONSIVE HOME------ */
/* --------------------------- */
/* --------------------------- */

/* 1350PX */
/* --------------------------- */

@media screen and (max-width: 1350px) {
  .aboutme {
    padding-top: 150px;
  }
  .aboutme.container {
    width: 1010px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .skills-logo {
    width: 1000px;
  }
  .header {
    height: 100px;
    width: 200px;
    /* border: 1px solid rgb(255, 183, 0); */
    display: flex;
    /* flex-direction: column; */
    gap: 2px;
  }
  .header h3 {
    font-size: 15px;
  }
  section .myname {
    width: auto;
    margin-left: 10px;
    margin: 2rem;
    /* border: 1px solid rgb(47, 255, 0); */
    font-size: 30px;
  }
  .scale-in-hor-center {
    /* border: 1px solid slateblue; */
    width: auto;
    display: flex;
    align-items: center;
  }
}
/* 1050px */
/* --------------------------- */
@media screen and (max-width: 1050px) {
  .header {
    height: 100px;
    width: 100px;
    /* border: 1px solid rgb(255, 183, 0); */
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .header h3 {
    font-size: 15px;
  }
  section .myname {
    width: auto;
    margin-left: 10px;
    margin: 2rem;
    /* border: 1px solid rgb(47, 255, 0); */
    font-size: 30px;
  }
  .scale-in-hor-center {
    /* border: 1px solid slateblue; */
    width: auto;
    display: flex;
    align-items: center;
  }

  .aboutme {
    padding-top: 150px;
  }
  .aboutme.container {
    width: 900px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 350px;
  }

  .skills-logo {
    width: 900px;
  }
}

/* 980PX */
/* --------------------------- */
@media screen and (max-width: 980px) {
  .header {
    height: 100px;
    width: auto;
    /* border: 1px solid rgb(255, 183, 0); */
    display: flex;
    gap: 1rem;
  }
  .header h3 {
    font-size: 18px;
  }

  section .myname {
    width: 700px;
    margin-left: 10px;
    margin: 2rem;
    /* border: 1px solid rgb(47, 255, 0); */
    font-size: 30px;
  }
  .scale-in-hor-center {
    /* border: 1px solid slateblue; */
    width: auto;
    display: flex;
    align-items: center;
  }

  .aboutme.container {
    width: 700px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .card-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(47, 255, 0); */
    gap: 2rem;
  }

  div .title-about h1 {
    font-size: 30px;
  }
  div .text-about p {
    font-size: 18px;
  }

  div .skills-logo img {
    height: 35px;
  }
  div .skills h1 {
    width: 700px;
    font-size: 30px;
  }
  .skills-logo {
    width: 700px;
  }

  div .project h1 {
    font-size: 30px;
  }
  div .cards h3 {
    font-size: 20px;
  }
}

/* 730px */
/* --------------------------- */
@media screen and (max-width: 730px) {
  .aboutme.container {
    width: 450px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .auto-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  div .card-me {
    width: 300px !important;
    /* border: 1px solid rgb(47, 255, 0); */
  }
  .header {
    height: 100px;
    width: 200px;
    /* border: 1px solid rgb(255, 183, 0); */
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .header h3 {
    font-size: 15px;
  }
  section .myname {
    width: auto;
    margin-left: 10px;
    margin: 2rem;
    /* border: 1px solid rgb(47, 255, 0); */
    font-size: 30px;
  }
  .scale-in-hor-center {
    /* border: 1px solid slateblue; */
    width: auto;
    display: flex;
    align-items: center;
  }
  div .aboutme h1 {
    font-size: 20px;
  }
  div .text-about p {
    font-size: 13px;
  }

  div .skills h1 {
    width: 450px;
    font-size: 25px;
  }

  div .skills-logo img {
    height: 25px;
  }
  div .skills-logo {
    width: 450px;
  }
  .project img {
    height: 150px;
  }
  div .project h1 {
    font-size: 25px;
  }
  div .cards h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 390px) {
  div .project h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  div .skills h1 {
    padding-top: 2rem;
  }
  .card-me img {
    height: 200px !important;
  }
  div .aboutme {
    padding-top: 1rem;
  }

  div .skills-logo {
    margin: 2rem;
    width: 350px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  div .skills h1 {
    width: 390px;
  }

  div .project img {
    height: 150px;
  }
  .aboutme.container {
    width: 310px;
    margin: auto;
    /* border: 1px solid red; */
  }
  div .card-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    text-align: justify;
    /* border: 1px solid rgb(255, 204, 0); */
  }

  .auto-head {
    /* border: 1px solid rebeccapurple; */
    width: 380px !important;
  }
  .scale-in-hor-center {
    border-bottom: 1px solid rgb(182, 180, 180) !important;
    width: 390px !important;
  }
  section .myname {
    width: auto;
    width: 300px !important;
    font-size: 25px;
  }
}

/* --------------------------- */
/* --------------------------- */
/* ----RESPONSIVE PROJECTS---- */
/* --------------------------- */
/* --------------------------- */

/* 1124px */
/* --------------------------- */
@media screen and (max-width: 1124px) {
  .col-left {
    /* border: 1px solid rebeccapurple; */
    width: 50%;
    /* height: 200px; */
    text-align: left;
  }

  .col-rigth {
    /* height: 200px; */
    /* border: 1px solid rgb(243, 237, 235); */
    width: 50%;
    text-align: left;
  }

  footer {
    height: calc(100vh - 90vh);
  }
}

/* 730px */
/* --------------------------- */
@media screen and (max-width: 730px) {
  div .container-project {
    width: 450px;
  }
  div .underline {
    top: 80px;
    left: 25px;
  }

  div .about-rawg {
    height: auto;
    width: 450px;
    /* border: 1px solid yellow; */
  }
  div .car-rawg {
    display: flex;
    width: 400px;
    /* border: 1px solid rgb(0, 255, 153); */
  }
  div .img-rawg img {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }

  footer {
    height: calc(100vh - 90vh);
  }

  .rawg h1 {
    font-size: 25px;
  }

  .rawg h3 {
    font-size: 22px;
  }

  div .header {
    width: 200px;
  }

  .auto-head {
    margin: 0 auto;
    width: 450px;
    /* border: 1px solid red; */
  }

  .scale-in-hor-center {
    margin: 0 auto;
    /* border: 1px solid slateblue; */
    width: 450px;
  }

  .about-rigth {
    font-size: 15px;
  }
}

/* 390px */
/* --------------------------- */
@media screen and (max-width: 390px) {
  div .container-project {
    width: 390px;
  }
  div .underline {
    top: 80px;
    left: 60px;
    width: 270px;
  }

  div .about-rawg {
    height: auto;
    width: 390px;
  }
  div .car-rawg {
    display: flex;
    width: 400px;
  }
  div .img-rawg img {
    height: 250px;
    width: 400px;
    object-fit: cover;
  }

  .about-rigth {
    font-size: 13px;
    padding: 2rem;
  }

  .translate {
    margin: 2rem;
  }
}
